# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Binaries
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
